@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #ff4081, #81d4fa);
}

.Kotak-Tengah{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;    
    width: 500px;
}

.signin{
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 400px;
}

.signin span{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 138px;
    top: 10px;
}

.signin h2{
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.box-input{
    position: relative;
    margin-bottom: 20px;
}

.box-input input{
    width: 100%;
    padding: 12px;
    font-size: 0.9rem;
    color: #333;
    border-radius: 10px;
    border-bottom: 3px solid #333;
}

.buttn{
    width: 100%;
    padding: 10px;
    background: #ff4081;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.buttn:hover {
    background: #d62963;
}

.social-icon{
    margin: 15px 0;
}

.social-icon a{
    border: 1px solid #030303;
    border-radius: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 11px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    font-size: 1.5rem;
    color: #030303;
}

@media (max-width: 768px){
    .signin {
        width: 80%;
        padding: 20px;
    }

    .signin h2 {
        font-size: 1.2rem;
    }

    .signin span {
        left: -1px;
        top: 7px;
        text-align: center;
        display: block;
        margin-bottom: 15px;
    }

    .box-input input {
        font-size: 0.85rem;
        padding: 10px;
    }

    .buttn {
        font-size: 14px;
        padding: 8px;
    }

    .social-icon {
        margin: 10px 0;
    }

    .social-icon a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        margin: 0 11px;
    }
}

@media (max-width: 440px) {
    .signin {
        width: 73%;
        padding: 18px;
    }

    .signin h2 {
        font-size: 1.3rem;
    }

    .signin span {
        text-align: center;
        display: block;
        margin-bottom: 10px;
        position: relative;
        left: -1px;
        top: 5px;
    }

    .box-input input {
        font-size: 0.85rem;
        padding: 10px;
    }

    .buttn {
        font-size: 14px;
        padding: 10px;
    }

    .social-icon {
        margin: 8px 0;
    }

    .social-icon a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        margin: 0 8px;
    }
}

@media (max-width: 380px) {
    .signin {
        width: 72%;
        padding: 15px;
    }

    .signin h2 {
        font-size: 1.2rem;
    }

    .signin span {
        text-align: center;
        display: block;
        margin-bottom: 10px;
        position: relative;
        left: -2px;
        top: 5px;
    }

    .box-input input {
        font-size: 0.8rem;
        padding: 8px;
    }

    .buttn {
        font-size: 13px;
        padding: 8px;
    }

    .social-icon {
        margin: 8px 0;
    }

    .social-icon a {
        width: 38px;
        height: 38px;
        font-size: 1.1rem;
        margin: 0 9px;
    }
}

@media (max-width: 320px) {
    .signin {
        width: 70%;
        padding: 15px;
    }

    .signin h2 {
        font-size: 1.2rem;
    }

    .signin span {
        text-align: center;
        display: block;
        margin-bottom: 5px;
        position: relative;
        left: 0;
        top: 10;
    }

    .box-input input {
        font-size: 0.8rem;
        padding: 8px;
    }

    .buttn {
        font-size: 13px;
        padding: 8px;
        margin-bottom: 5px;
    }

    .social-icon {
        margin: 5px 0;
    }

    .social-icon a {
        width: 35px;
        height: 35px;
        font-size: 1rem;
        margin: 0 10px;
    }
}
