* {
    box-sizing: border-box;
}

body{
    display: flex;
}
.input-button input{
    margin-bottom: 8px;
    padding: 7px;
    width: 100%;
}

.input-button button{
    margin-bottom: 8px;
    padding: 6px;
    width: 55px;
}