* {
    box-sizing: border-box;
}

body{
    display: flex;
}
.input-button input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.input-button button{
    margin: 0 4px;
    padding: 6px 0;
    width: 50px;
}